<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<a id="loginBtn" type="button" th:onclick="|javascript:login()|"><img src="kakao_login_btn.png" alt="button"></a>
<script th:inline="javascript">
    const redirectUri = [[${redirectUri}]];
    const appKey = [[${appKey}]]

    function login() {
        window.location.href = "https://kauth.kakao.com/oauth/authorize?client_id=" + appKey +
            "&redirect_uri=" + redirectUri + "&response_type=code";
    }
</script>
</body>
</html>